body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  /* background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); */
  background: linear-gradient(to right, #005aa7, #fffde4);
}

button {
  cursor: pointer;
}